nav {
    font-size: larger;
    text-align:right;
    background-attachment: fixed;

}
nav a {
    color: rgb(0, 0, 0);
    text-decoration:double underline;
    margin-right: 10px;
    list-style:square;
    background-attachment: fixed;   
}
h1 {
    font-size: 100px;
    color:rgb(0, 0, 0);
    margin:0;
    text-align:center;
    text-decoration:double underline;
}

body {
    
    background: black  url('bg.jpg') no-repeat scroll;
    background-size: cover;
    display:grid;
    height: 100vh;
    /* background-attachment: fixed; */

}
header{
    padding-bottom: 50px;
}
footer {
    color: rgb(0, 0, 0);
    text-align:center;
    padding-top: 100px;
}

.container{
    background-color:rgba(169, 169, 169, 0.500) ;
    align-content: center;
    
}
.first{
    background-color:rgba(169, 169, 169, 0.500);
    font-size: 30px;
    background-attachment:scroll;
}
